
*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
   margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

h1,
h2,
h3 {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  cursor: pointer;
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
}

.logo {
    font-family: "Raleway", sans-serif;
  color: #2E2F42;
  font-weight: 700;
  letter-spacing: 0.03em;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
}
.logo-accent {
    color: #4D5AE5;
}

.footer-logo {
color: #F4F4FD;
}


.visually-hidden , .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(50%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}



